/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
	
}

ul.nav {
	font-size: 13px;
}

footer {
	background-color: #f74c3c;
	padding-top: 100px;
	padding-bottom: 30px;
  position: relative;
}

#get-involved {
  min-height: 400px;
  background: transparent;
  }

#get-involved p {
  color: #f5f5f5;
  font-weight: 101;
  font-size: 18px;
}

#get-involved h2 {
  color: #f5f5f5;
}

#get-involved h3 {
  color: #f5f5f5;
}

#white {
  color: #f5f5f5;
}

#hr-white {
  border-top: 1px solid #f5f5f5;
  width: 160px;
  margin-top: 15px;
}

#who {
  background-color: #FBF8F8;
}

#back-to-top {
  position: absolute;
  bottom: 20px;
  right:20px;
}

#back-to-top a  {
  color: #333;
}

.jumbotron {
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 0px;
  min-height: 400px;
  background: transparent;
  height: 100%;
  width: 100%;
  }


.jumbotron h1 {
  margin-bottom: 20px;
  padding-top: 0px;
  }

.jumbotron p {
	font-weight: 100;
	padding: 0px 50px 40px 50px;
	} 

.btn-lg {
	font-size: 26px;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-content iframe {
  margin-top: 15px;
  margin-bottom: 10px;
}

.modal-content button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  font-size: 28px;
  width: 30px;
  opacity: 1;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -173px;
}

.homepage { 
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.homepage h2, .homepage h3 {
  color: #e74c3c;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}
  
.homepage h2 {
	font-size: 30px;
  
}
    
.homepage h3 {
    font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	text-decoration: none;
}

.homepage hr {
	border-top: 1px solid #e74c3c;
	width: 160px;
	margin-top: 15px;
}

.author {
  background-color: #f5f5f5;
  padding-top: 110px;
  padding-bottom: 30px;
}

.author .container {
  margin-left: 10px;
}

.author h1 {
  font-size:16px;
  color: #f74c3c;
  font-family: 'Arvo', courier, serif;
}

.near-bottom {
  text-align: center;
  color: #f5f5f5;
  height: 600px;
  margin-bottom: 0px;
  min-height: 400px;
  background: transparent;
  height: 100%;
}

.bottom {
  text-align: center;
  color: #f5f5f5;
  height: 600px;
  margin-bottom: 0px;
  min-height: 400px;
  background: transparent;
  height: 100%;
}


/* Responsive Styling */
@media (max-width: 1199px) {

  .jumbotron h1 {
    font-size: 56px;
    padding: 30px;
   }
}
@media (max-width: 991px) {
  
  .jumbotron h1 {
    font-size: 44px;
   }
  .jumbotron p {
    padding: 0 10px;
   }
  #get-involved .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
   }
}
@media (max-width: 767px) {
  .jumbotron {
    background-image: url('../Images/hero_image_small.jpg');
   }
  #getinvolved {
    background-image: url('../Images/hero_image_small.jpg');
  }
  .jumbotron h1 {
    font-size: 24px;
   }
  .jumbotron p {
    font-size: 16px;
    padding: 0;
   }
  .btn-lg {
    font-size: 18px;
   }
  .homepage p {
    font-size: 18px;
   }
  footer img {
    width: 50%;
   } 
}
   






